!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: 'viewport', content: 'width=device-width'}
    %meta{name: "google-site-verification", content: "oru63Fev7jMN6fvhYLQ6UxT7EvW8jRKg2YwZJIGhCnc"}
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Sattwa Chai"
    = stylesheet_link_tag "all"
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//use.typekit.net/sta5box.js","all"
    %script(type="text/javascript") try{Typekit.load();}catch(e){}

    %meta{:name => "description", :content => current_page.data.description || "Sattwa Chai, the tea that stirs the maker. As an original pioneer in the tea category, Sattwa has remained true to its roots and initial vision. Still family owned and operated, we love the rich spiritual heritage of India and authentic masala chai. Sattwa Chai is marketed to coffee roasters and cafes all over North America. Sattwa: a sanskrit word depicting the universal life force of balance and harmony."}
    %meta{:name => "keywords", :content => current_page.data.keywords || "Sattwa Chai, the tea that stirs the maker. As an original pioneer in the tea category, Sattwa has remained true to its roots and initial vision. Still family owned and operated, we love the rich spiritual heritage of India and authentic masala chai. Sattwa Chai is marketed to coffee roasters and cafes all over North America. Sattwa: a sanskrit word depicting the universal life force of balance and harmony."}

  %body{:class => page_classes}
    = link_to "☰", "#sidr", class: "mobile-nav-link"
    #sidr.sidr
      %ul
        %li= link_to "home", "/"
        %li= link_to "our story", "/our-story"
        %li= link_to "order", "/order"
    #wrapper
      = yield

    .banner
      .row
        .sixteen.columns * Organic Certified * No Additives * Real Tea and Spices *

    %footer
      .container
        .row
          .eight.columns
            = link_to "http://fairtradeusa.org" do
              = image_tag "/images/ft-logo.png", class: "fair-trade-logo", alt: "Fair Trade Logo"
            .call-us
              Call Us 503.538.4715
            .policies
              &copy; 1995 Sattwa Enterprises
              = link_to "privacy policy", "/privacy-policy"
              = link_to "return policy", "/return-policy", class: "return-policy"
          .eight.columns
            .contact-info
              = link_to "", "http://www.facebook.com/business/dashboard/#/pages/Sattwa-Chai/85861821645", class: "foundicon-facebook", title: "find us on facebook"
              = link_to  "", "https://twitter.com/SattwaChai", class: "foundicon-twitter", title: "follow us on twitter"
              = link_to "", "mailto:sales@sattwa.com", class: "foundicon-mail", title: "contact us"

    = google_analytics_tag
