!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Sattwa Chai"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic", "normalize", "all"
    = javascript_include_tag  "all"
  
  %body{:class => page_classes}
    #wrapper
      = yield
      #wrapper-footer

    %footer#footer
      .container
        .row
          .sixteen.columns
            = link_to "privacy policy", "/privacy-policy"
            = link_to "return policy", "/return-policy"
            = link_to "facebook", "http://www.facebook.com/business/dashboard/#/pages/Sattwa-Chai/85861821645"
            = link_to "twitter", "https://twitter.com/SattwaChai"
            %copy &copy; 1995 Sattwa Enterprises
            = mail_to "sales@sattwa.com", "contact us"
            503.538.4715
           
 
