---
title: "Sattwa Chai :: Organic Chai, The Tea That Stirs The Maker"
description: "Sattwa Chai, the tea that stirs the maker. As an original pioneer in the tea category, Sattwa has remained true to its roots and initial vision. Still family owned and operated, we love the rich spiritual heritage of India and authentic masala chai. Sattwa Chai is marketed to coffee roasters and cafes all over North America. Sattwa: a sanskrit word depicting the universal life force of balance and harmony."
keywords: "Chai, Chai Tea, Oregon Chai, Sattwa Chai, Food Service Chai, Food Service Tea, Fair Trade  Certified, 100% Organic, Sattwa Enterprises, Traditional Chai  Concentrate, micro-brewed, Organic Chai"
---

= partial "nav"
.container
  .row
    %h2.sixteen.columns.page-title Traditional Chai Concentrate
    .ten.columns
      :markdown
        Micro-brewed with 100% organic spices and organic fair trade certified tea. Packaged in half-gallon bottles for food service and quart bottles for retail sales.

      %table
        %tbody
          %tr
            %td 171N - Case of Half Gallons (6 per case)
            %td.order
              $74.50
              = link_to "Order", "http://www.chai-direct.com/TEA/product/TRADITIONAL", class: "button"
          %tr
            %td 181N - Case of Quarts (12 per case)
            %td.order
              $79.80
              = link_to "Order", "http://www.chai-direct.com/TEA/product/TRADITIONAL", class: "button"
          %tr
            %td 172N - Half Gallon Bottle
            %td.order
              $12.55
              = link_to "Order", "http://www.chai-direct.com/TEA/product/TRADITIONAL", class: "button"
          %tr
            %td 182N - Quart Bottle
            %td.order
              $6.81
              = link_to "Order", "http://www.chai-direct.com/TEA/product/TRADITIONAL", class: "button"

    .six.columns.chai-aside
      = link_to "http://www.chai-direct.com/+/SATTWA+CHAI+TEA+LIQUID/TRADITIONAL" do
        %p  32oz 64oz organic chai concentrate
        %p= image_tag "/images/chai_containers.png", alt: "photo of 32oz 64oz organic chai concentrate"
  .row
    %h2.sixteen.columns Sattwa Sun Chai
    .ten.columns
      :markdown
        Exquisitely blended using Organic Fair Trade Certified Black Tea, and organic spices of cardamom, cinnamon, ginger, black pepper and cloves, Sattwa Sun is the finest, tastiest, masala chai on the market. Sattwa Sun is a cup of pure love dedicated to serious chai drinkers around the world! Fifty great servings per bag.

      %table
        %tbody
          %tr
            %td 301N - One 10oz bag of Sattwa Sun
            %td.order
              $15.00
              = link_to "Order", "http://www.chai-direct.com/TEA/product/SUN-CHAI", class: "button"
          %tr
            %td 325N - One 5 lb box of Sattwa Sun
            %td.order
              $88.00
              = link_to "Order", "http://www.chai-direct.com/TEA/product/SUN-CHAI", class: "button"

    .six.columns.chai-aside
      = link_to "http://www.chai-direct.com/+/SATTWA+CHAI+TEA+BREW/SUN-CHAI" do
        %p 10oz bag 5lb box organic chai mix
        %p= image_tag "/images/sun_chai.png", alt: "photo of 10oz bag 5lb box organic chai mix"

        

